    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="footer-column">
                    <h4>VOICE 2026</h4>
                    <p>The developer conference for semiconductor test professionals.</p>
                </div>
                <div class="footer-column">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="index.html#">Program</a></li>
                        <li><a href="index.html#">Attend</a></li>
                        <li><a href="sponsors.html">Sponsor</a></li>
                        <li><a href="committee.html">Committee</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Contact</h4>
                    <ul>
                        <li>Email: corpcomms@advantest.com</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Follow Advantest</h4>
                    <div class="social-links">
                        <a href="#">LinkedIn</a>
                        <a href="#">Instagram</a>
                        <a href="#">YouTube</a>
                    </div>
                </div>
            </div>
            <div class="conference-info">
                <p class="conference-date-footer">May 18-20, 2026 | Scottsdale, Arizona</p>
            </div>
            <div class="copyright">
                <p>&copy; 2025-2026 Advantest Corporation. All rights reserved.</p>
            </div>
        </div>
    </footer>
