    <header>
        <div class="container main-nav-container">
            <div class="logo-container">
                <a href="index.html">
                    <img src="images/VOICE 2026 Logo COLOR.png" alt="VOICE 2026 Logo" class="main-logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Program <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="program-agenda.html">Agenda</a></li>
                            <li><a href="program-call-for-papers.html">Call for Papers</a></li>
                            <li><a href="program-technical.html">Technical Program</a></li>
                            <li><a href="program-kiosk.html">Technology Kiosk Showcase</a></li>
                            <li><a href="program-workshop.html">Workshop Day</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Attend <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Hotel Reservations</a></li>
                            <li><a href="#">Privacy Notice</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </li>
                    <li><a href="sponsors.html">Sponsor</a></li>
                    <li><a href="committee.html">Committee</a></li>
                </ul>
            </nav>
        </div>
    </header>
